@model IEnumerable<WebPrueba.Models.ContactoModel>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>GREY MILENA JIMENEZ ANAYA</h1>
    <p class="lead">PRUEBA TÉCNICA - SECRETARIA DE EDUCACIÓN .</p>
    
</div>

<div class="form-horizontal">

    <div class="row">
        <p class="lead">LISTADO DE PERSONAS.</p>
    </div>

    <hr />
    <div class="form-group">


        <table class="table table-responsive" style="width:700px">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.NOMBRE)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EMAIL)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CELULAR)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IDENTIFICACION)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FECHA_SOLICITUD)
                </th>

            </tr>

            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NOMBRE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EMAIL)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CELULAR)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IDENTIFICACION)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FECHA_SOLICITUD)
                </td>

            </tr>
            }

        </table>
    </div>
</div>  